body {
    background: linear-gradient(135deg, #ffe29f, #ffa99f, #9ecfff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
}

.container {
    background-color: black;
    border-radius: 20px;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.d1 {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    animation: redGlow 6s infinite;
}

.d2 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    animation: yellowGlow 6s infinite;
}

.d3 {
    background-color: rgb(2, 255, 2);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    animation: greenGlow 6s infinite;
}

.stick {
    background-color: black;
    height: 250px;
    width: 20px;
    margin: auto;
}

.smallbox {
    background-color: black;
    width: 60px;
    height: 20px;
    margin: auto;
}

@keyframes redGlow {
    0%, 33% {
        opacity: 1;
        box-shadow: 0 0 25px 8px red;
    }
    34%, 100% {
        opacity: 0.3;
        box-shadow: none;
    }
}

@keyframes yellowGlow {
    0%, 33% {
        opacity: 0.3;
        box-shadow: none;
    }
    34%, 66% {
        opacity: 1;
        box-shadow: 0 0 25px 8px yellow;
    }
    67%, 100% {
        opacity: 0.3;
        box-shadow: none;
    }
}

@keyframes greenGlow {
    0%, 66% {
        opacity: 0.3;
        box-shadow: none;
    }
    67%, 100% {
        opacity: 1;
        box-shadow: 0 0 25px 8px lime;
    }
}