body{
    background: linear-gradient(135deg, #ffe29f, #ffa99f, #9ecfff);
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: beige;
}

th, td{
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
}

th{
    text-align: center;
    font-weight: bolder;
}

h1{
    text-align: center;
    color: darkblue;
    font-weight: bolder;
}

td{
    color: red;
    font-weight: 500;
}